# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the java class output directory
bin

# Ignore Kotlin plugin data
.kotlin

# Ignore IDE folders
.vscode
.idea

DS_Store
